#container {
	width: 70%;
	height: 92vh;
	float:left;
}

.mainEx {
	font-size: 4vw;
}

.title{
	text-align: center;
}

.exercise {
	font-size: 2vw;
}

#exContainer{
	text-align: center;
}

body{
	display: inline-block;
}


