<sidebar></sidebar>
<div id="container" class="jumbotron" ng-keydown="keyPress($event);" tabindex="0">
	  <h1>Lesson {{currentSelected}}!</h1>

		<div id="board" style="border:1px solid"></div>

		<h5>Pulsaciones totales: {{currentGame.totalKeyPress}}</h5>
		<h5>Fallos: {{currentGame.fails}}</h5>
		<h5>Time: {{time}}</h5>

		<div id="exContainer">
		<div class="mainEx" ng-repeat-start="item in currentLesson" ng-if="$first" >
			 {{item}}
		</div>
		<div class="exercise" ng-repeat-end ng-if="!$first">
			{{item}}
		</div>

		</div>

</div>