<div id="mainbar">
    <div class="row">
        <div id="title" class="col-lg-8"> Mecanography</div>
        <div id="buttonContainer" class="col-lg-4 vcenter">
            <button type="button" class="btn btn-primary glyphicon glyphicon-cog responsiveButton" ng-click="openSettings()"></button>
            <button type="button" class="btn btn-primary glyphicon glyphicon-minus responsiveButton" ng-click="minimizeApp()"></button>
            <button type="button" class="btn btn-primary glyphicon glyphicon-remove responsiveButton" ng-click="closeApp()"></button>
        </div>
    </div>
</div>


