<div id="mainbar">
    <div class="row">
        <div id="title" class="col-lg-8"> Mecanography</div>
        <div id="buttonContainer" class="col-lg-4 vcenter">
            <button type="button" class="btn btn-primary glyphicon glyphicon-refresh responsiveButton" ng-click="reload()"></button>
            <button type="button" ng-show="!maximized" class="btn btn-primary glyphicon glyphicon-resize-full responsiveButton" ng-click="maximize()"></button>
            <button type="button" ng-show="maximized" class="btn btn-primary glyphicon glyphicon-resize-small responsiveButton" ng-click="unmaximize()"></button>
            <button type="button" class="btn btn-primary glyphicon glyphicon-minus responsiveButton" ng-click="minimizeApp()"></button>
            <button type="button" class="btn btn-primary glyphicon glyphicon-remove responsiveButton" ng-click="closeApp()"></button>

        </div>
    </div>
</div>


