#mainbar{
    width: 100vw;
    height:8vh;
    -webkit-app-region: drag;
    color: #fff;
    background-color: #337ab7;
}

#title{
    width: auto;
    height: 100%;
    float:left;
    font-size: 6vh;
}

#buttonContainer{
    -webkit-app-region: no-drag;
    float:right;
    height:8vh;
    width:auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.responsiveButton{
    height:7vh;
    font-size: 3vh;
}