#mainbar{
    height:8vh;
    width: 100vw;
    -webkit-app-region: drag;
    color: #fff;
    background-color: #337ab7;
}

#title{
    width: auto;
    height: 100%;
    float:left;
    font-size: 6vh;
}

#buttonContainer{
    -webkit-app-region: no-drag;
    float:right;
    width:auto;
}

.button.glyphicon{
    width: auto;
    font-size: 7vh;
}

