#sidebar{
    width: 30%;
    height: 92vh;
    float: left;
    overflow: scroll;
}

li{
    list-style: none;
}

.sidebarItem{
    font-size: 2vh;
    text-align: center;
}

.sidebarItem:hover{
    background-color: #76C7D7;
}